// Mastodon Bird UI - Hide Translate Links theme
// For use in Mastodon core installation

@use 'application';
@use 'mastodon-bird-ui/mastodon-bird-ui';
@use 'mastodon-bird-ui/variants/hide-translate-links';
