// Cards and previews
// URL preview cards
.layout-single-column .status-card,
.layout-single-column .status-card:hover,
.layout-single-column .status-card:focus {
  background-color: transparent;
  border-color: var(--color-border-primary);
}

// URL preview card summary text
.layout-single-column .status-card .status-card__host,
.layout-single-column .status-card .status-card__description {
  color: var(--color-text-secondary);
}

// URL preview card box
.layout-single-column .status-card .status-card__content {
  padding: var(--gap-default);
}

.layout-single-column .status-card.expanded .status-card__content {
  display: grid;
  gap: 8px;
}

// Preview cards
.layout-single-column .status-card {
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-border-primary);
  border-radius: var(--border-radius);
  transition:
    background-color 200ms,
    border-color 200ms,
    opacity 200ms,
    transform 200ms;
}

.layout-single-column .status-card.status-card.bottomless {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.layout-single-column .status-card.expanded {
  display: block;
}

.layout-single-column a.status-card .status-card__host {
  font-size: var(--font-size);
}

.layout-single-column .status-card a:active .status-card__author,
.layout-single-column .status-card a:active .status-card__title,
.layout-single-column .status-card a:focus .status-card__author,
.layout-single-column .status-card a:focus .status-card__title,
.layout-single-column .status-card a:hover .status-card__author,
.layout-single-column .status-card a:hover .status-card__title,
.layout-single-column a.status-card:active .status-card__author,
.layout-single-column a.status-card:active .status-card__title,
.layout-single-column a.status-card:focus .status-card__author,
.layout-single-column a.status-card:focus .status-card__title,
.layout-single-column a.status-card:hover .status-card__author,
.layout-single-column a.status-card:hover .status-card__title {
  color: var(--color-text-primary);
}

.layout-single-column .status-card a:active .status-card__host,
.layout-single-column .status-card a:hover .status-card__host,
.layout-single-column .status-card a:focus .status-card__host,
.layout-single-column a.status-card:active .status-card__host,
.layout-single-column a.status-card:focus .status-card__host,
.layout-single-column a.status-card:hover .status-card__host,
.layout-single-column a.status-card:focus .status-card__description,
.layout-single-column a.status-card:hover .status-card__description {
  color: var(--color-text-secondary);
}

// New Quote Posts feature after v4.5.0.alpha.2-2025-08-24
.status__quote {
  --status-gutter-width: calc(var(--size-avatar) + var(--gap-default));
}

.detailed-status.status--has-quote .status__quote {
  --status-gutter-width: 0;
}

.layout-single-column .status.status--is-quote {
  --size-avatar: 32px;
}

.status__quote.status__quote--error {
  --surface-border-color: var(--color-border-primary);
  background-color: var(--surface-border-color);
  border-color: var(--surface-border-color);
  color: var(--color-text-primary);
  justify-content: center;
  min-height: 45px;
  text-align: center;
}

.status__quote.status__quote--error > span {
  color: var(--color-text-primary);
}

.status__quote:not(.status__quote--error) .status {
  min-height: 40px;
}

// Disabled quote post selection
.layout-single-column .dropdown-menu__item [aria-disabled="true"],
.layout-single-column .dropdown-menu__item :disabled,
.layout-single-column .dropdown-menu__item button:disabled {
  color: var(--color-text-secondary);
}

div[data-popper-placement] .reblog-button__item button:disabled {
  align-items: flex-start;
}

.notification-grouped
  .status--has-quote
  .status__quote
  .status.status--is-quote
  .status__content,
.notification-grouped--direct
  .status--has-quote
  .status__quote
  .status.status--is-quote
  .status__content,
.notification-ungrouped
  .status--has-quote
  .status__quote
  .status.status--is-quote
  .status__content {
  margin-left: calc(var(--size-avatar) + var(--gap-default));
  padding-left: 0;
}

@media (width <= 600px) {
  .layout-single-column .status.status--is-quote {
    --font-size: 14px;
    --font-size-smaller: 12px;
  }
}

// Show minimal status card if there's no image
.layout-single-column .status-card .status-card__image:not(:has(img)) {
  display: none;
}

// Show iframe in status card if status contains embedded media
.layout-single-column .status-card .status-card-video:has(iframe) {
  display: inherit;
}

// Hide empty YouTube description
.layout-single-column .status-card__description:empty {
  display: none;
}

.layout-single-column .status-card:focus,
.layout-single-column .status-card:hover {
  background-color: rgba(255 255 255 / 3%);
}

.layout-single-column .status-card__image-image,
.layout-single-column .status-card__image-preview,
.layout-single-column .status-card .status-card__image {
  background-color: var(--color-arsenic);
  border-radius: 0;
}

.layout-single-column a.status-card .status-card__content {
  padding: 16px;
}

.layout-single-column a.status-card .status-card__title {
  color: var(--color-text-primary);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-semibold);
  line-height: 1.3;
  margin: 0;
}

.layout-single-column a.status-card.expanded .status-card__title {
  white-space: inherit;
}

.layout-single-column .status-card.expanded .status-card__host {
  color: var(--color-text-secondary);
  font-size: var(--font-size);
  margin-bottom: 0;
  margin-top: 0;
}

.layout-single-column .status-card.expanded .status-card__description {
  margin-top: 0;
}

