/* Mastodon Bird UI by @rolle@mementomori.social
   4.0.0rc1 - Single Column Layout */

/* Import base variables and themes */
@use 'common/variables';
@use 'common/theme-high-contrast';
@use 'common/theme-light';

/* Import layout styles */
@use 'layouts/single-column-styles';
