// Mastodon Bird UI typography variables

:root {
  --font-size: 15px;
  --font-size-smaller: 13px;
  --font-size-12: 12px;
  --font-size-mid: 14px;
  --font-size-bigger: 17px;
  --font-size-title: 19px;
  --font-size-heading: 20px;
  --font-weight-regular: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;
  --line-height: 22px;
  --line-height-mid: 20px;
}
