name: CSS

on: [push, pull_request]

jobs:
  build:
    name: Lint and build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4

    - name: Read .nvmrc
      run: echo "NVMRC=$(cat .nvmrc)" >> $GITHUB_OUTPUT
      id: nvm

    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: '${{ steps.nvm.outputs.NVMRC }}'
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Build CSS
      run: npm run build

    - name: Run stylelint
      run: npm run lint

    - name: Validate CSS syntax
      run: node validate-css.js
